@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    font-weight: 300;
    text-decoration: none;
}

  /* Button used to open the contact form - fixed at the bottom of the page */
  /* .open-button {
    background-color: black;
    color: white;
    padding:5px;
    border: none;
    cursor: pointer;
    position: fixed;
    opacity: 0.8;
    bottom: 23px;
    left: 28px;
    width: 200px;
  }

  .open-button:hover {
    opacity: 1;
  } */
  
  /* The popup form - hidden by default */
  /* .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 33px;
    margin-bottom: 55px;
    z-index: 9;
  }
  
  h3{
    font-size: 0.85em;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    font-weight: 300;
  } */
  /* Add styles to the form container */
  /* .form-container {
    max-width: 90px;
    padding: 50px 50px 50px 50px;
    background-color: black;
    border: 1px solid white;
  } */
  
  /* Add a red background color to the cancel button */
  /* .form-container .cancel {
    size: 20px;
    background-color: black;
    border: 1px solid white;
  } */

  /* .cancel{
    margin-top: 0;
  }
  .cancel:hover{
    background-color: rgba(74, 95, 190, 0.25);
    opacity: 0.7;
  } */
.Division {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

body {
    background: linear-gradient(235deg, #FFFFFF 0%, #000F25 100%), linear-gradient(180deg, #6100FF 0%, #000000 100%), linear-gradient(235deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%), linear-gradient(125deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%);
    background-blend-mode: soft-light, screen, darken, normal;
} 
.all {
    border-collapse: collapse;
    font-size: 0.9em;
    /* margin 25px 0; */
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    min-width: 400px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.486);
    text-align: center;s
}

thead, tr {
    background-color: black;
}
.all th, .all td {
    padding: 15px 20px;
}

.footer {
    font-size: large;
    text-align: center;
    color: black;
    display: inline;
    font-weight: 500;
    font-size: 0.8em;
}

@media (max-width: 768px) {
    
    .Division {
      font-size: 1.2em;
      text-align: center;
    }
    .all {
        border-collapse: collapse;
        font-size: 0.8em;
        border-radius: 2px 2px 0 0;
        overflow: hidden;
        min-width: 400px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
        text-align: center;
    }
    .all th, .all td {
        padding: 5px 10px;
    }

    .footer {
        font-size: small;
    }
}


/*.all tbody tr {
    border-bottom: 2px solid lightgray;
} 
tbody tr:nth-of-type(even){
    background-color: black;
}

tbody tr:nth-of-type(odd){
    background-color: black;
} */
