html {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}
:root {
  --bg-color: #F7F6E3;
  --font-color: #4E351E;
  --link-color: #6C5234;
  --pre-color: #FFF;
  --pre-bg-color: #6C5234;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #0b0820;
    --font-color: #EDE8F5;
    --link-color: #7761A9;
    --pre-color: #fff;
    --pre-bg-color: #382760;
  }
}

body {
  max-width: 800px;
  margin: 2px auto;
  padding: 0 15px;
  font: 13px/1.5 monospace;
  color: var(--font-color);
  background: var(--bg-color);
}
a:link {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  text-decoration: var(--link-color) wavy underline;
}
a:visited {
  color: var(--link-color);
}
a:active {
  color: var(--link-color);
}
h1,
h2,
h3 {
  line-height: 1.2;
}
p > code {
  color: var(--pre-color);
  background: var(--pre-bg-color);
  padding: 2px;
}
pre {
  color: var(--pre-color);
  background: var(--pre-bg-color);
  padding: 24px;
  overflow-x: auto;
}
article {
  padding: 24px 0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
figcaption {
  color: #888;
  font: 12px/1.5 monospace;
  text-align: center;
}
figure {
  margin: auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

header[role="main"] nav {
  ol,ul {
    list-style: none;
    padding: 0 0 7px 5px;
    margin: 0;
    li {
      display: inline-block;
    }
  }
}

.meta {
  ul {
    list-style: none;
    padding-left: 7px;
    margin: 0;
  }

  li {
    display: inline-block;

    &:not(:last-child)::after {
      content: " \00b7";
    }
  }
}

.item .meta {
  font-size: 12px;
  display: inline-block;
  opacity: 75%;
}

.item-more {
  list-style: none;
}

.callout {
  padding: 1em;
  color: var(--pre-color);
  background: var(--pre-bg-color);
}

footer {
  font: 12px/1.5 monospace;
  padding-top: 22px;
  padding-bottom: 7px;
}

.content img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}
