@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: black;
  }
  
  .top-bar {
    position: fixed;
    background: white;
    color: white;
    padding: 1rem 1rem 1rem 1rem;
    background: black;
    width: 100%;
  }
  
  .btn {
    background: black;
    color: #fff;
    border: 10px 8px 10px 8px;
    border-color: aqua;
    outline: none;
    cursor: pointer;
    padding: 0.7rem 2rem;
}
  
.btn:hover {
    background: rgb(14, 68, 68);
    opacity: 0.9;
}
  
.page-info {
    margin-left: 1rem;
}

.pdf {
    padding-top: 2.5rem;
    margin-left: 20%;
}
  
.error {
    background: red;
    color: black;
    padding: 1rem;
}